<!-- now we'll create fragment 
 these are reusable parts that you can either insert into a 
 div or any otehr tag 
 or just replace it fully  
-->

<div th:fragment="parent(x,y)">
    <h1>This is parent fragment loaded</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate minima vel molestias adipisci, voluptatem optio molestiae quaerat. Necessitatibus, quisquam dignissimos?</p>
    <p>The value of x : <span th:text="${x}"></span></p>
    <p>The value of y : <span th:text="${y}"></span></p>
</div>

<!-- now we'll make a fragment which takes contents or markups  -->
<!-- user tilde(~) when laoding form a fragment files , else u can just use ${} to load while using insert or replace look below how we are laoding the content using replace 
 but in services.html we have user ~(tilde) because we are loading form the fragment file specifically 
  -->
<div th:fragment="content_frag(content)">
    <h1>Fragment for testing markups</h1>
    <div th:replace="${content}"></div>
</div>


<!-- testing fragement for login or not -->
 <div th:fragment="test(content)">
    <div th:replace="${content}"></div>
 </div>