<!DOCTYPE html>
<!-- pure html ko hi fragment bna diya  -->
<html lang="en" th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">Base page</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>

    <!-- common header -->
     <ul class="p-4 flex gap-7">
        <li>
            <a data-th-href="@{'/home'}">Home</a>
        </li>
        <li>
            <a data-th-href="@{'/services'}">Services</a>
        </li>
        <li>
            <a data-th-href="@{'/about'}">About</a>
        </li>
     </ul>


    <!-- Main content -->

    <div class="p-4">
        <section th:replace="${content}"></section>
    </div>



    <!-- common footer  -->
    <footer class="p-4">
        footer : Learn java with me!!
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>
</html>